
<center><h1>sysk</h1></center>

<b>PROJECT SYSK</b> : set of libraries and programs for kalekale by kalekale<br><br>

<b>what is it?</b><br>
sysk is a layer on top of the Linux operating system. almost like GNU, but nowhere near it.<br>
<h3>plans</h3>
<ul>
	<li>the unix core utils tuned to 0kalekale's prefrences (will not interfere with the actual unix coreutils) /bin/core</li>
	<li>a simple, fast and easy to work with layer on top of C - /lib/libsysk</li>
	<li>http client and server libraries, irc client library - /lib/libkinet</li>
	<li>a fast math kernel with SIMD - /lib/libkmk</li>
	<li>a wayland linux window manager - /bin/desktop/syskwm </li>
	<li>a simple low level programming langauge - 0kalekale/lambdadelta</li>
	<li>a package manager for just sysk programs and libraries</li>
	<li>and other handy tools and programs(GUI programs are my last priority)</li>
</ul><br>
<b>why am I working on this?</b><br>
A fun side project to keep myself busy when I have nothing else to do, I might ghost this project for months or maybe push 100 commits a day.
<br>
<b>When will I finish this?</b><br> 
Only god knows when. But I will be working on it at least once a week, more if I can. <br>
I would estimate by 2025 I will finish this project. <br>
<b>Am I open to contributions?</b><br>
If you want to help me build this project, sure I welcome you but for the most part this is my toy and I will direct it how I want.<br>
<b>Can I use your code?</b><br>
Good Luck, its under AGPL3, ask me anything about using my AGPL'ed libraries. <br><br>
In the future I might conisder: <br>
	<li> a minimal init system for linux</li>
	<li> a linux distro with syskpkg </li> 
	<li> port to other unix-like and unix kernels </li>
	<li> fork a linux compatible kernel and develop the syskOS</li>
but very unlikely since the future is uncertain for me. 
