<head>
<title>2 bit adder</title>
<style>
body {   font-family: monospace;   }
.col {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 
</style>
<h1 align=center> ~ 2 bit adder ~</h1> 
<center>by <a href="https://0kalekale.gitlab.io">kalekale</a> on 2023-12-30<br><font size=4 color=808080 align=>demonstrating how a computer adds numbers</font><br><br></center>

</head>
<center>
<img src="2bitadder.png">
<br>
</center>
<div class="row">
<div class="col">
<pre>
<u>Boolen algebra logic for the 2 bit adder:</u>
<i>F(a0, a1, b0, b1)</i> : 2 bit adder, 3 bit output  
0: XOR(a0,b0)
1: XOR(XOR(a1, b1),AND(a0, b0))
2: OR(AND(XOR(a1,b1),AND(a0,b0)),AND(a1,b1))
</pre>
This 2 bit adder is a combination of a half adder and a full adder, the half adder is a 1 bit adder which gives the sum bit and the carry bit ,the full adder is a 1 bit adder which takes 2 inputs along with a carry bit and gives 2 bit output.
Conneting the half adder and a full adder gives you a 2 bit adder, in a similar way connecting 4 full adders can give you a 4bit adder.
This is how the first digital computers were made, the logic gates like the AND, OR, XOR gates can be made with a simple switch, traditionally we used bulbs/tubes for the switch. The ENIAC was made with these switches and is conisdered the first ever digital computer. 

</div>
<div class="col">
<u>logic table:</u>
<table border=1>
	<th>a1a0</th>
	<th>b1b0</th>
	<th>out</th>
	<tr>
		<td>00</td>
		<td>00</td>
		<td>000</td>
	</tr>
	<tr>
		<td>01</td>
		<td>00</td>
		<td>001</td>
	</tr>
	<tr>
		<td>00</td>
		<td>01</td>
		<td>001</td>
	</tr>
	<tr>
		<td>10</td>
		<td>00</td>
		<td>010</td>
	</tr>
	<tr>
		<td>00</td>
		<td>10</td>
		<td>010</td>
	</tr>
	<tr>
		<td>10</td>
		<td>01</td>
		<td>011</td>
	</tr>
	<tr>
		<td>01</td>
		<td>10</td>
		<td>011</td>
	</tr>
	<tr>
		<td>10</td>
		<td>10</td>
		<td>100</td>
	</tr>
	<tr>
		<td>and</td>
		<td>so</td>
		<td>on..</td>
	</tr>

	
</table>
</div>
</div>

<h3>but how are the logic gates made?</h3>
With the help of transistors and the flow of electron we can manipulate electricity into doing our math, in short a silicon is chemically doped to have 3 points, called a NPN or a PNP junction based on what element was used to dope the semiconductor.
The semiconductor then acts as a switch where it controls the flow of electrcity. It has 3 points, the collector, the base and the emittor. The collector is connected to the source of electricity, the base is conneted to whatever we want to switch to be and the emittor is what provides the output signal. The following picture demonstrates how a transistor can be used to make the NAND gate.
<br><center><img src="gate.jpg"></center><br>
The Transistor made by the Bell Labs physicists in 1947 and the boolean algebra theory given to us by logician George Boole has made the modern world into what it is today. Just as how the transistor and the boolean alegbra shaped our current technological landscape, I can see the qbit and the quantam entanglement theory by Einstien and Schrödinger to reshape our future into something we today cannot comprehend, in the same sense how a kid from 1920 cannot comprehend what a tiktok is.
