<head>
<title>about</title>
<style>
@font-face {
	font-family: 'MS PGothic';
	src: url(font.woff);
}
p {
	font-family: 'MS PGothic';
	font-size: 8px;
}
body {   font-family: 'monospace';   }
</style>
</head>
0kalekale@gitlab.io $ rustc <a href="https://github.com/0kalekale/kat">kat.rs</a> <br>
0kalekale@gitlab.io $ ./kat about.txt<br> 
<br>
Philosopher, Poet, and a Hacker of GNU and UNIX <br>
<br>
Welcome to my web sight! here you will find me  <br>
talk about Philosophy, Theology, Literature,    <br>
Art, Technology/FOSS , Music and contemporary    <br>
politics along with other hobbies like anime,   <br>
poetry, lifting, sprinting and fighting.        <br>
<br>
I use Void Linux  as my daily driver, I am 	<br>
fluent in C, Rust etc but i dont code anymore.  <br>
<br>
I play the guitar and the bass (sometimes).     <br>
I study Sanskrit and Western literature for fun <br>
along with Vedic and Western Schools of thought.<br>
I enjoy thinking and writing                    <br>
I also do weightlifting and other sports.       <br>
<br>


