<head>
<title>contact</title>
<style>
@font-face {
	font-family: 'MS PGothic';
	src: url(font.woff);
}
p {
	font-family: 'MS PGothic';
	font-size: 8px;
}
body {   font-family: 'monospace';   }
</style>
</head>
0kalekale@gitlab.io $ gcc <a href="https://cgit.freebsd.org/src/tree/bin/cat/cat.c">freebsd-src/bin/cat/cat.c</a> <br>
0kalekale@gitlab.io $ ./cat contact.txt<br><br>
I may take a few days to reply back, especially via email.<br>
e-mail: kalekale.anon @ gmail.com<br>
irc: kalekale [rizon and libera]<br>
discord: 0kalekale#5186<br>
<br>
0kalekale@gitlab.io $ cat bunnie.txt <br>
<p>
　　　　　　　　　 ,.　'"´ ￣￣｀ヽ____<br>
　　　　　　　　／　　　　 　　　 ﾉ　　｀ヽ<br>
　　　 　 　　./　　　　 _,,..,--‐'　,　 　　 ';<br>
　　　　　　　|　　　 ∠__/　　／｀i　 　　 !<br>
　　 　 　 ,. -! 　　/:::::::::'､__ノｰｧ '､_____ノ<br>
　　　 ／:::::::::'､__ノ::::::::::::::::::::::::｀ヽ.<br>
　　 /:::::::::::::::::::::::::::::;::::::ヽ;::::::::::;i::::',<br>
　　.!::::::::/::::::/:::__」_;!::::::::::ﾄ-:::;ﾊ::::::〉<br>
　　|:::::::::!:::::::!::::/_」_ﾊ:::::::::!ｧr､!::iイ<br>
　　|::::::::ﾊ::::::!7'´i´ﾊ　＼/ り ,!ﾚi::!<br>
　　!::::::::!::::V|ﾍ.　'､ｿ　　　　 .,.,∨ﾊ<br>
　　 '､:::::'､:::::;ゝ,.,., 　 /´￣'i　 人::::!<br>
　　　.）::::::＼::＞_､., _!___,.ノイ:::ハﾉ<br>
　　 （:::ﾉ／｀ンﾍ.　 ＼_,/`Yヽﾚﾍ（<br>
　　　 ）'ヽ/´ 　 ､＼___ﾑ__ﾉ､　ヽ.｀<br>
　　　　　/　　 　 ヽ. ＼w,/ Y 　 ';<br>
　　　　 〈　　_,.ゝﾍｿ　　(ｿ　 {,-､_,〉<br>
　　　　 　ゝ,.ﾍ　　 ' , .[二二二l'二二二二]<br>
　　　 _ 　 /　∧,　　ヽ! 　 　 　|　奉　納.　|<br>
　　,'´　｀ｿ 　 　 ＼　　` ｰっ,　|　Oh　No　!<br>
　　'､. ／　 /　　　 ,ゝ､,____ノ-┴‐､t--,ｧ‐┘<br>
　　／　　 ,　　　　　　　　　ヽ　＼　￣<br><br>
</p>
