<head>
<title>0kalekale</title>
<style>
body {   font-family: monospace;   }
</style>
</head>
<body>
<center>
░█████╗░██╗░░██╗░█████╗░██╗░░░░░███████╗██╗░░██╗░█████╗░██╗░░░░░███████╗<br>
██╔══██╗██║░██╔╝██╔══██╗██║░░░░░██╔════╝██║░██╔╝██╔══██╗██║░░░░░██╔════╝<br>
██║░░██║█████═╝░███████║██║░░░░░█████╗░░█████═╝░███████║██║░░░░░█████╗░░<br>
██║░░██║██╔═██╗░██╔══██║██║░░░░░██╔══╝░░██╔═██╗░██╔══██║██║░░░░░██╔══╝░░<br>
╚█████╔╝██║░╚██╗██║░░██║███████╗███████╗██║░╚██╗██║░░██║███████╗███████╗<br>
░╚════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝<br>
<br>
<table border="1px">
    <th><a href=".">blog</a></th>
    <th><a href="about.html">about</a></th>
    <th><a href="contact.html">contact</a></th>
    <th><a href="harmful">harmful</a></th> 
 </table><br>
</center>
articles:
<ul>
<li><a href="C_Ada_Rust_and_the_safety_of_languages.html">C, Ada, Rust and the safety of languages.html</a></li>
<li><a href="2bitadder.html">how computers add: the 2 bit adder.html</a></li>
<li><a href="asm_gcd.html">C vs ASM: a comparison.html</a></li>
<li><a href="nirvana_shatakam_commentary.html">Nirvana Shatakam Commentary and Translation.html</a></li>
<li><a href="tsuki_no_waltz_translation_nepali.html">tsuki no waltz translation nepali.html</a></li>
<li><a href="sleep_well_uncle_ted.html">sleep well, uncle ted.html</a></li>
<li><a href="see_you_on_the_dark_side_of_the_moon.html"> see you on the dark side of the moon.html </a>
<li><a href="western_philosophy_guide_II.html">on getting into western philosophy - II.html</a>
<li><a href="western_philosophy_guide.html">on getting into western philosophy - I.html</a>
<li><a href="moving_from_github.html">moving_from_github.html</a> 
</ul>
<br>
<center>
<font size=3 color=808080>
<b><u>verses and aphorisms I like:</b></u><br>
<br>
Long you live and high you fly<br>
Smiles you'll give and tears you'll cry<br>
And all you touch and all you see<br>
Is all your life will ever be
<br><br>
परित्राणाय साधूनां विनाशाय च दुष्कृताम्  <br>
धर्मसंस्थापनार्थाय सम्भवामि युगे युगे <br><br>
Above all, don't lie to yourself.<br><br>
That which does not kill us makes us stronger.<br><br>
विद्याधनं  सर्व धनं प्रधानम् <br>
</font>
</center>
<br> <br>
<a href="maid.html">click for fun</a>
</font>
</body>
