<head>
<title>0kalekale</title>
<style>
body {   font-family: monospace;   }
@font-face {
	font-family: 'MS PGothic';
	src: url(font.woff);
}
p {
	font-family: 'MS PGothic';
	font-size: 8px;
}
</style>
</head>
<body>

░█████╗░██╗░░██╗░█████╗░██╗░░░░░███████╗██╗░░██╗░█████╗░██╗░░░░░███████╗<br>
██╔══██╗██║░██╔╝██╔══██╗██║░░░░░██╔════╝██║░██╔╝██╔══██╗██║░░░░░██╔════╝<br>
██║░░██║█████═╝░███████║██║░░░░░█████╗░░█████═╝░███████║██║░░░░░█████╗░░<br>
██║░░██║██╔═██╗░██╔══██║██║░░░░░██╔══╝░░██╔═██╗░██╔══██║██║░░░░░██╔══╝░░<br>
╚█████╔╝██║░╚██╗██║░░██║███████╗███████╗██║░╚██╗██║░░██║███████╗███████╗<br>
░╚════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝<br>
<br>
0kalekale@gitlab.io $ cat meido.txt<br>
<p>
　　　　　　　　　　　　　　　　 _..．､　-―-　 rr､<br>
　　　　　　　　　 　 　 　 　 '"ﾆ=-､i⌒~´乂_乂 ｀ｰ'＾~〉_<br>
　　 　 　 　 　 　 　 　 ／ _,ｲ　　 _｣L．ニ､=-‐…-= 、　i<br>
　　 　 　 　 　 　 　 ／　./ﾞ丶.　´　　　　　　　　　　　＼j┐<br>
　　　　　　　　　 _ノ〃_r' 　, '　　　　　　　　　　　　　　　X、<br>
　 　 　 　　-‐-‐ｧ'/　ﾉ丶〃　／　　　　　　　　　　　　 　 丶<br>
　 　 〃´　　 　/　　く　 /　〃　　　　　　 　 　 　 　 　 　 、 ＼、<br>
　　//　　　_ ノ　/l 〈_　/　/ 　 　 　 　 /　　 ′　　　　 　 ﾞ.丶._丶、<br>
　 ｛｛　 i´　_彡'/ ,| r'、'　./　　　　　　 'ｌ　　/ 　 　 　 　 　 :ｉ　ヽ、￣<br>
　 丶! ｜〃l il/ ,小｀Ｖ　 ′　　　　　/ |　 /ｌ　// ｌi／ﾞ､ 　 :|!ト　_＼<br>
.　　　　|｛　.|/ /　!　.///l 　 :　　 l　十廾ｧ-!/// ﾙ仟i!V 　|!l　　 ￣<br>
. 　 ｘ―l弋彡/　 ' .//／l 　 | 　　|　,rﾃ示ミ'"/ / 'l以!'i!∨ Ｎ` ､<br>
　/ "￣ﾞVﾊ| |　/,ノイ//ﾘ　/l　 / | ,i代` ﾘ,　 　 　 ｀~　!小｜　　＼<br>
　　 　 　 V}| |./　 / 　 /イ/l| /辷lﾘ｝ `~´　　　　 '　　,小 j |　　　　＼<br>
　　　　　,ﾉ' l,/ィ"/ 　/ 　//ﾙ'/廴l'_ト｀｀　 　 ‐=' 　ィ"::廴｝|＼　　　　＼<br>
　　　 　/ / ｌ |　.′〃　./,ルイ弋、 }　 ≧o｡。. ｨ":: : : ::辷}:! 　丶、　　　＼<br>
　　 　 / /　jﾉ　l　/ｲ　/:ベ、 .>､廴_｝⌒Y^ ､::V:: : :　　弋 ﾞ:!　　　 丶、　　 ＼<br>
.　 　 ￤ :　 　 ｜i川.∠ _:::::::丶、辷」 　 ｀Ｙ^Vﾊ,r┬r…弋_,〉､_ 　 　 　 、 　　＼<br>
　　 　 ヽl　　　｜l| li/_,／`ヽr::≦}乂}≧:＜叉}ヽi!｜l　　 ,ﾊ,_乂｀ヽ　　　 丶　　　ヽ<br>
　　　　　　　 　 | il　″ ｀　 ､{ .／| :　Ｖ＼//｀ヽ ﾟ:　　　 / /|　 ｌ-'´　　　　　〉 　 　 ﾟ:<br>
　　　　　　　 　 jﾉ　i　　　 　 ｀Ｖ: l l!　∨ /＼_,ﾊ∧ 　　Ｌ」￤ li|　　　　　　/　　　　 |<br>
　　　　　　　　　 　 |　　　　、 ｉ }::ﾊﾄ､　∨: : : : : ::ハ　　　　j,ノ　　　　　　/　!　　 　 !<br>
　　　　　　　　　　 ｜　　　 丶リ:/::l: : ヽ| : : : : : : : ::i　　　　　　 　 　 　 〈 ｨﾞｌ .l　| l/､/〉<br>
.　　　　　　 　 　 　 |　　　　　 ∨::::: : : : :/ : ′: : : /　　 　 　 　 　 　 　 　 ﾞ r'!_,i〈∨/ﾞ､<br>
　　 　 　 　 　 　 　 |、　　 丶　∨::/::::::/::::/::::::::Ｖ"　　　　 　 　 　 　 　 　 __|_|__ _,ｘｚ>､＼<br>
　　　　　 　 　 　 　 |　　　　　＼∨:::: /::::/:::::::::: |　　　　　　 　 　 　 　 　 　 〕「　｀Vﾊ　＼.＼<br>
　　　　　　　　 　 　 | : 　 　 　 　 ∨:/::::/:::::::::::: |　　　　　　 　 　 　 　 　 　 | :|　　 Vﾊ 　 ＼ ＼<br>
　　　　　　　　　　　 | : . 　 　 .　　 ∨ :/::::::::::::::ｲ　　　　　　　　　　　　 　 　 | :|　　　Vﾊ　　　＼ ＼<br>
　　 　 　 　 　 ＿____| : :.、　　　、　 ∨__::::::::::__｣　　　　　 　　　　　　　　　　l　|　　　 V∧　　　 ＼ 丶<br>
　　　 　 　 　 `辷.三| : : :、 　 　 ､　 ∨-‐￣.ノ}　　 　 　 　 　 　 　 　 　 　 | l:|　　 　 V∧　　　　 `丶、<br>
　　　　　　　　 ｝　　｜: :　:、　　　 :、/-‐　´　/ ＼　　　　　　　　　　　　　　| l:|　　　　 V∧<br>
　　　　　　 　 （　 　 .| : : :　:、　 　 ,ハ::: 　 　 　 -‐丶、　　　　　　　　 　 　 | l:|　　　　　Ｖ |<br>
　　　　　　　 　ｉ｀　ｘ个ｰ--‐ﾍー''"　　 .::::　　　　 　 　 丶、　　 　　 　 　 　 :　:　　　　 　 ﾞ:|<br>
　　　　　　 　 └彳　l: : : : : : ::、 　　　　.::::::　;　 　 　 　 　 　､ 　　　 　　 　 ∨<br>
　　　　　　　　 　/　｜: 　 　 　:､　　　　 ∨::/::;′　　　 、　　、丶、<br>
　 　 　 　 　 　 /　 /|: :　　丶、:::、　　　　∨ /::: . . 　 　 丶, -‐'⌒丶、<br>
　　　　　　　　/...ィ:::ﾘ: : 　 　　＼::、　　 　 ∨:::::::::::::: : :　厂乂ン⌒~｀丶、<br>
　　　　　　　 ´￣　 ′　　　 　 、::::、　　 　 ∨:::::::::::: :r'´Y´:.:.:.: : : : : : : : ＼<br>
　　　　　　　　　 　 l: :　　　 　 　 ::::::、　　 　 ∨:::::::::j´::r':::::::.:.:.: : : : : : : : ::r‐ 、<br>
　　　　　　　　　 　 |: : 　　 　 :、＼::::::、　　 　 Ｖ:::::::{::::::）:::::::.:.:.: : : : ;斗-､_）ｰ'i <br>
　　　　　　　　　 　 l: :　,r‐r'＾Y二Y⌒ヾ、　　　 ∨::::ｉ:::（:::::::::.:.:.: : ::r'之ﾉ　　　 ＼ <br>
　　　　　　　 　 　 ｜〃x'⌒~:, -‐- ､:::｀::､　　 　 V:::!::;ﾉ:::::::::.:.:.: :_ﾉ .ﾉ　　　 　 　 ＼ <br>
　　　　　　　　　 　 |r'r':::::;r='" j⌒i_r㍉､::::､　　　 ∨::;!:::::::::::.:.:.:.ﾉ　j　　　　 　 　 　 ＼ <br>
　　　　　　　　　 　 Ⅵ /´r'⌒~　 　 　 ｀ヾ::::、　　　Ｖ::::::::::::::.:::/ _j´　　　　　　　　　　 ＼ <br>
　　　　　　　　 　 /´∨ ,′　　　　　 　 　 ﾟ､:::､ 　 　 Ｖ::::::::::::/ ノ 丶、　　　　　　　　　　 ﾟ: <br>
.　　　　　　 　 　 ｌY⌒V 　 　 　 　 　 　 　 lヽ:::､　　　∨_:::ノ i三≧ ._｀　 .　　　　 　 　 　 ! <br>
　　 　 　 　 　 　 lﾊ 　 :、　　　　　 　 　 　 |ｌｌﾞｰ:､　　　 ＼- ' 二三三≧ .._｀　 ‐-　　　.　' <br>
　　　　　 　 　 　 |ｉｉＶ´ ::、　　　 　 　 　 　 |lｌｌｌｌｌlﾊ　　　 　｀丶、　 　 ￣二三≧=‐-‐'" <br>
　　　　　　　　 　 |iiハ　:::、　　　　 　 　 　 |lilililiｌiﾊ　　　　　､、＼ <br>
　　　　　　　　　　|iiiｉ∧ ::::、　　　　　 　 　 |iｌiｌｉｌｉｌｉ∧　　　　 ヽ`ー' <br>

</p>
0kalekale@gitlab.io $ _ <br>
</font>
</body>
