<head>
<title>Musashi and Marcus</title>
<body>
<font size=5></font>
<h1 align=center> ~ Musashi and Marcus ~</h1> 
<center>by <a href="https://0kalekale.gitlab.io">kalekale</a> on 2023-07-07<br><font size=4 color=808080 align=>from Nihon to Rōmā</font><br><br></center>
<font size=4>
<center>
<img src="marcus.jpg" height=30%></img>
<img src="musashi.png" height=30%></img>
</center>
<br>
Shinmen Takezō, or more commonly known as Miyamoto Musashi was a rōnin(NEET samurai) and a well known philosopher warrior from 15th 
century Japan. In the Japanese tradition he is known as a "sword saint" and as the father of the "Niten Ichi-ryū" sword style. His statistics as a swordsman is almost mythical as it is believed Musashi had a kill streak of 61 in 1 on 1 duels. He was 13 years of age when he fought his first duel, according Musashi himself in his "Book of Five Rings". The story of his life is documented in 
the "Book of Five Rings" and a novel by Eji Yoshikawa, "Musashi". The novel was later adapted into a manga by Takehiko Inoue, "Vagabond", which is a very comfy read. 
<br><br>
Musashi composed a short work a week before his death, he called it the "Dokkōdō", the path of aloneness, which consists of 21 commandments for his favourite disciple Terao Magonojō. The commandments dictate an ascetic life. After reading these 21 commandments and the life of Musashi, I found it very similar to the stoic dogmas from the western world. In my headcanon Musashi and Marcus, the Roman stoic, are very good friends, metaphysically speaking. Musashi's ascetic view on life developed from the Buddihist teachings he recieved, while Marcus adopted the Philosophy of life developed by Epictitus and friends. One was the Emperor of ROMA and the other was a NEET samurai, yet they share an identical take on life. I want to expand further upon this referencing both the Dokkōdō and the Meditations by Marucs.<br><br>   
<center>
<img src=sasaki.png height=50%></img> 
<img src=beauty.jpg height=50%></img><br>
<font size=4 color=808080 align=>Musashi and his mortal rival Kojiro</font>
</center>
<br>
<b><u>on indifference:</u></b><br>
In Book 2 of Meditations by Marcus, he quotes Monimus the Cynic, "Beyond opinion there is nothing". Opinion is a judgement we form 
about something and Marcus believes that it is futile to have an opinion. Truth is what is it, there is nothing more or less to it. 
He believes the life of a man is but an instant, spending time on opinion that lead to nothing, will lead us to nothing. Similarly, the 11th commandment of the Dokkōdō says, "In all things have no preferences". Our preferences are nothing different from our opinions. If one wants to take his art to the next level, Opinions and Preferences end up creating unwanted roadblocks. A warrior expects no mercy from anyone. He is prepared for the worst, and a warrior isnt allowed to have a say on what or who he fights onces the battle has begun, it is his duty to fight. During this moment his personal preferences and his opinions will not matter, the only thing which matters is, HIS ART! one must think only about his art.
<br>
The first commandment of the Dokkōdō is "Accept everything just the way it is", this also happens to be the core of all stoic dogma.
We are men, made of flesh, bones and blood. We are not omnipotent, there are many things that we cannot change no matter what. We cannot go against the will of God, we cannot go against will of nature, any resistance will end up in failure. 
What we can do is become indifferent to all these "will" that we mortals cannot counter and KEEP THINKING ABOUT OUR ART.
<br><br><center><img src="art.png" height=40%></img></center>

<br><br><marquee><h1>!! !! WORK IN PROGRESS !! !!</h1></marquee> 
