<head>
<title>Nirvana Shatakam </title>
<style>
body {   font-family: monospace;   }
.col {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 
</style>
<body>
<font size=5></font>
<h1 align=center> ~ Nirvana Shatakam ~</h1> 
<center>by <a href="https://0kalekale.gitlab.io">kalekale</a> on 2023-07-07<br><font size=4 color=808080 align=>Sanskrit to EN translation with comments</font><br><br></center>
<font size=4>
<center>
<div class="row">
<div class="col">
<u>Original:</u><br><br>
मनोबुद्ध्यहङ्कार चित्तानि नाहं	<br>
न च श्रोत्रजिह्वे न च घ्राणनेत्रे ।	<br>
न च व्योम भूमिर्न तेजो न वायुः	<br>
चिदानन्दरूपः शिवोऽहम् शिवोऽहम् ॥१॥	<br>
<br>
न च प्राणसंज्ञो न वै पञ्चवायुः	<br>
न वा सप्तधातुः न वा पञ्चकोशः ।	<br>
न वाक्पाणिपादं न चोपस्थपायु		<br>
चिदानन्दरूपः शिवोऽहम् शिवोऽहम् ॥२॥	<br>
<br>
न मे द्वेषरागौ न मे लोभमोहौ		<br>
मदो नैव मे नैव मात्सर्यभावः ।	<br>
न धर्मो न चार्थो न कामो न मोक्षः	<br>
चिदानन्दरूपः शिवोऽहम् शिवोऽहम् ॥३॥	<br>
<br>
न पुण्यं न पापं न सौख्यं न दुःखं	<br>
न मन्त्रो न तीर्थं न वेदा न यज्ञाः ।	<br>
अहं भोजनं नैव भोज्यं न भोक्ता		<br>
चिदानन्दरूपः शिवोऽहम् शिवोऽहम् ॥४॥	<br>
<br>
न मृत्युर्न शङ्का न मे जातिभेदः	<br>
पिता नैव मे नैव माता न जन्मः ।	<br>
न बन्धुर्न मित्रं गुरुर्नैव शिष्यं		<br>
चिदानन्दरूपः शिवोऽहम् शिवोऽहम् ॥५॥	<br>
<br>
अहं निर्विकल्पो निराकाररूपो		<br>
विभुत्वाच्च सर्वत्र सर्वेन्द्रियाणाम् ।	<br>
न चासङ्गतं नैव मुक्तिर्न मेयः		<br>
चिदानन्दरूपः शिवोऽहम् शिवोऽहम् ॥६॥	<br>
<br>
</div>
<div class="col"><u>Translation:</u><br><br>
<b>I am not the mind, intellect nor the ego's consciousness. <br>
nor am I the organs who perceive sound, taste, smell and light. <br>
nor am I the sky, earth, fire or air. <br>
I am the one in whom all things lie, the blissful couscious state. |1| <br>
<br>
I am not the vital breath's consciousness, nor the five vital airs. <br>
nor am I the elements that make up the body, nor the five layers of awareness. <br>
nor am I the organ of speech nor the hand, foot nor the anus. <br>
I am the one in whom all things lie, the blissful couscious state. |2|<br>
<br>
I do not hate, neither am I attached nor do I posess greed or delusion.<br>
nor do I have pride, nor envy and jealousy. <br>
nor am I bound by law, wealth, desire or freedom. <br>
I am the one in whom all things lie, the blissful couscious state. |3|<br>
<br>
I am not the good action, nor the bad action. I am not happy nor sad. <br>
nor am I bound by hymms or holy places nor the scripture or sacrifices. <br>
nor am I the experience, nor can I be experienced nor can I experience. <br>
I am the one in whom all things lie, the blissful couscious state. |4|<br>
<br>
I am not bound by death, nor the fear of it, nor the system of castes. <br>
I dont have a father or a mother, for I am not born. <br>
nor do I have relationships, friendships, a guru or a disciple. <br>
I am the one in whom all things lie, the blissful couscious state. |5|<br>
<br>
I have no distinction nor a form. <br>
I am the one whos under and behind everything, even the sense organs. <br>
I cannot get freed from anything for I am not attached to anything. <br>
I am the one in whom all things lie, the blissful couscious state. ||6||<br>
</b>
</div>
<div class="col"><u>Comments:</u><br><br>
<i>I translate "Shiva" as the "one in whom all things lie". This Shiva 
does not refer to the puranic deity Shankar/Shiva/Mahadev nor the vedic 
deity Rudra. This Shiva, is the same as the Vishnu which means "the one who
pervades everything". These are just one of many names given for "That". That
which being the brahman.  <br><br>
These verses states what the supreme non-dual state is NOT. 
Brahman is something that cannot be explained with just words and logic, we have to use "not that, not that" rhetoric to show what brahman is not.
Verse 1.1 and x.4 are the most crucial verses. These two verses alone 
can reveal the true nature of our being. When asked Who are you? I might 
say my name, however that is only the ego identifying, not my true self. 
I might then say maybe I am just my mind and its intellect, however that
is just the product of my brain and its system. Which leaves a massive gap where I still have this abstract "my" "brain", "my" "intellect", "my" "name". <br><br>
Upon realising this distinction of the self or "me" or "my" from the non self 
aspects like the mind ego and intellect, it becomes self evident that the self is no different from the the blissful couscious state, the one in whom all things lie.<br><br>
The self cannot recogonize anything but the self, my true self cannot realise another human's self for the other human is just a manifestation of physical properties in my mind. Descartes said "I think, therefore I am", in the same sense if you cannot think for other's you can only be sure that you yourself are the only "thing" that is real, or that is a being. And knowing the brahman is reality itself, we can conclude that the self is brahman, and all else is Maya (an illusory aspect of the brahman). Brahman/Atman is real, all else is derivative illusion. Maya is not a lie or fake reality, it is just a cover over the true reality. <br>
</i>
</div>
</div>
</center>
