<head>
<title>see you on the dark side of the moon</title>
<style>
body {   font-family: monospace;   }
</style>
<body>

<h1 align=center> ~ see you on the dark side of the moon ~ </h1> 
<center>by <a href="https://0kalekale.gitlab.io">kalekale</a> on 2023-6-07<br><font size=4 color=808080 align=>from a distant time, for a distant time, all love to Pink Floyd.</font><br><br></center>
<center>
<font size=4>
<i>
the memories of distant times<br>
crushing through my soul <br>
listening to all your crimes <br>
the pink is in the name<br>
to all the lost souls in the bowl<br>
where do you wish to be?<br>
on the very dark side of the moon<br>
or having a cigar?<br>
</i>
</center><br>
Listening to <b>dark side of the moon</b> with the melancholy of my soul on the dullest of the days has always been the best musical
experience I have ever been through. Nothing beats the feeling of rolling a joint as the album starts, and lighting the joint as 
<b>Gilmour</b> sings, <i>
"All you touch and all you see, that's all your life will ever be".</i>
I know many claim this album to be overrated, while others claim its the greatest of all time, some despise stoners who can only enjoy
album while high and some claim this album is best experienced high. I personally believe this is one of the greatest progressive 
rock albums ever written. This album and getting high goes hand in hand regradless of what anyone says, and the experience is 
definitely amplifed with psychedelics. 
This album peaks at "The great gig in the sky" in terms of the psychedelic-space experience. I will never forget the first time I 
heard this song, truly an elevating feeling. As for the best song in the album, I personally believe its "Time", but "Money" is up 
there too. The lyrics in "Time" hit way too close to home, <i>"You are young and life is long, and there is time to kill today And then one day you find ten years have got behind you", "The sun is the same in a relative way but you're older".</i> 
I have found myself staring into the nothingness many times listening to this masterpiece, it has never failed to make my day better. The initial melody in "Us and Them" clears my soul and replenishes my hopes for tomorrow. <br><br>Pink Floyd as a band had just found their 
new sound as they were writing this album, after <b>Sydd </b>left, they were almost hopeless. But after years of experimentation, they found their place, and left
us with one of the greatest rock albums ever written by man.
<center><br><img src="Dark_Side_of_the_Moon.png"></img><img src="Pink_Floyd_-_all_members.jpg"></img><br>
shine on, all you crazy lunatics, see you on the dark side of the moon.</center>
