<head>
<title>Sleep well, uncle Ted</title>
<style>
body {   font-family: monospace;   }
</style>
<body>
<font size=5></font>
<h1 align=center> ~ Sleep well, uncle Ted ~</h1> 
<center>by <a href="https://0kalekale.gitlab.io">kalekale</a> on 2023-06-12<br><font size=4 color=808080 align=>honouring Theodore John Kaczynski </font><br><br></center>
<font size=4>
<center><i>
"There is work to be done, a lot of work. In fact, the work has barely started.” <br>- Theodore J. Kaczynski, letter to his fan</center></i>
<br>
A year ago uncle Ted recieved a letter from his fan, the letter concludes with, “Get Well Soon. There is yet work to be done". Replying to 
the letter, uncle Ted mentions that he has been diagnosed with terminal cancer. The news spread like wildfire, on the internet, ironically. 
<br><br>The letter in full length,  
<i><br><br>
Dear Mr. _______
<br><br>
Thank you for your kind letter postmarked December 23, 2021, which I received on January 27, 2022. You conclude your letter with: “Get Well Soon. There is yet work to be done.” You’re right. There is work to be done, a lot of work. In fact, the work has barely started. But I won’t be able to do much of it. I’m not going to “get well soon” — — or ever — — because I have terminal cancer. I can’t expect to live more than two years at the outside, and I may well be dead in less than a year, so the work will have to be done by younger people. What about you? What are you doing? I’m told that you’ve ordered a paperback French & English dictionary for me, for which I thank you. But, seen in relation to the problems we face, the matter of the dictionary is Trivial. Have you been following the recommendations in sections 28 & 29 of Chapter Four of Anti-Tech Revolution? Have you made any efforts at organization, in accord with Rule (iii) of Chapter Three? If you want to organize but don’t know where to begin, let me know, and I’ll give you some sugges-tions. But my suggestions will not be easy to carry out. We don’t want die dilettantes who are ready to do only what is easy, we need people who are capable of total commitment and are prepared to take [on] any task no matter how difficult or unpleasant or time-consuming it may be.
<br><br>
Yours for Wild Nature,
<br>
Ted Kaczynski
</i><br><br>
And a year later, on 10th of June, he was announced dead. Kaczynski wanted to be like Lenin, a revolutionary. However it seems in his
later years he realised its too late for him, just like how Marx's dream was realised by Lenin, uncle Ted expects us younger people 
to carry out his revolution. I too, hope someday a hero, a calm emerges in the midist of technological chaos. It could be you, it could be me! As we move towards the
generalization of Artificial Intellegence and degradation of our environment, more and more intellectuals will end up on the same page that uncle Ted and Jacques Ellul ended up on.
What he did, many will consider pure evil, but acknowledging the fact the he was much, much more smarter than me, I am going to assume that there was no better way to get the media to publish his manifesto.
It is a shame, and a tragedy that 3 innocent lives were taken, and many injured. But I see that as nothing but a small step towards a greater 
planet for all of us. I am sure in the near future, even politicians, policy makers and intellectuals will start considering stealth mass homicide as a method to control 
rapid population growth, after all the human race is better off with small groups of people living comfortable and healthy lives instead of many people living 
the most uncomfortable and unhealthy lifestlye imaginable. People dying, millions even, is a given condition for a revolution, and uncle Ted 
being the 163 IQ genius was well aware of that.
<br><br>
what can we do to honour him? I sure many of you who have read his manifesto and his treatise against technology acknowledge his 
philosophy but, are not able to pratice what he preaches. It is no surpise that we all are dependent on technology. Even uncle Ted
typed out his manifesto with a typewriter, a modern technology. As individuals, the most we can do is move to a rural place, and start 
living a self sustaining life and live an "anti-tech life". However, this is not what uncle Ted wants you to do. What he wants, and what 
we need, is a revolution. Across the globe, each and every country on the map should start taking small steps, may it be through protests, 
violence, demonstrations, writing letters to your representatives or anything that you can think of. The first step is to organize and establish 
the anti-tech movement across the globe gathering as many like minded people as possible, with that, the revolution will surely follow. 
Now should you go mailing pipebombs to innocent people in the hopes of a revolution? no. I believe, if violence is the only option, 
the ones we target should be the ones with power and control over the planet itself. And ironically technology would very much help us with the revolution. Call it fighting fire with fire.
<br><br>
The ideology is still far from mainstream thought and we have alot to work on, but hopefully by time people realise, it wont be too late. Or maybe, it already has been. 
