<head>
<title>Tsuki no Waltz in Nepali</title>
<style>
body {   font-family: monospace;   }
.col {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 
</style>
<body>
<font size=5></font>
<h1 align=center> ~ Tsuki no Waltz in Nepali ~</h1> 
<center>by <a href="https://0kalekale.gitlab.io">kalekale</a> on 2023-07-07<br><font size=4 color=808080 align=>JP to NP translation, metre preserved.</font><br><br></center>
<font size=4>
<center>
<div class="row">
<div class="col">
Original:<br><br>
こんなに月が蒼い夜は<br>
不思議なことが起きるよ<br>
どこか深い森の中で<br>
さまようわたし<br>
<br>
タキシード姿のうさぎが来て<br>
ワインはいかが？とテーブルへ<br>
真っ赤なキノコの傘の下で<br>
踊りが始まる<br>
<br>
貴方は何処にいるの？時間の国の迷子<br>
帰り道が解らないの<br>
待って　待っているのに<br>
<br>
眠れぬこの魂は<br>
貴方を探し森の中<br>
「月の宮殿」（チャンドラ・マハル）の王子さまが<br>
跪いてワルツに誘う<br>
<br>
</div>
<div class="col">Translation:<br><br>
पूर्ने के रात जब चन्द्र हुन्छ नीलो <br>
हुन्छ रे केही अनौठो <br>
हिन्दै र दुल्दै म पहिला चलाउँछु<br>
त्यो गहिरो वनमा <br>
<br>
आउँछ खरायो कालो suit मा<br>
रक्सी र table दिन्छु भन्छ <br>
table छ त्यो रातो छाता मुनी<br>
आउन नचम हामी<br>
<br>
काल को जालमा हराउँछु म<br>
तर कहाँ गयौ तिमी<br>
घर को बाटो भेटाउन सकिन<br>
तिम्रै लागि कुर्दै छु म <br>
<br>
यो मेरो निद्रविहिन आत्मा ले<br>
त्यही वनमा तिमीलाई खोज्न आउँछ<br>
चन्द्र महल को राजकुमार ले<br>
नाच्न बोलाउँछ मलाई<br><br>
</div>
</div>
</center>
This japanese song is a personal favourite of mine, and has been for years. The original lyric is composed by "Reiko Yukawa" according to wikipedia. I <i>probably</i> discovered this song through r/a/dio years ago. The lyric also contains a Nepali/Indic word "चन्द्र महल"/"chandra mahal", which inspirsed me to translate this into Nepali. Although I am not able to perfectly read Japanese I used Yomichan chromium extention to make my way through difficult kanjis. 
<br><br>
The original song:  <a href="https://youtu.be/cganW8kwG-s">諫山実生 - 月のワルツ【最高音質】on YouTube</a>
<br>
