<center><h1>project manu</h1></center>

<b>manu</b> : an experimental minimal init system for linux<br><br>

<a href="https://gitlab.com/0kalekale/manu">!!!work in progress, check out the git repo !!!</a>
