<h1>Harmful</h1>
A list of harmful software and practices for the average developer who just wants to get work done efficiently and enjoy freedom with minimal tinkering<br>
<table border=1>
<th>context</th>
<th>harmful</th>
<th>debatable</th>
<th>safe</th>
<tr>
<td>desktop operating system</td>
<td>Windows, MacOS</td>
<td>*BSD, yourMemeOS, not GNU/Linux</td>
<td>GNU/Linux</td>
</tr>
<tr>
<td>systems dev</td>
<td></td>
<td>Zig, Hare, Rust, C++</td>
<td>C</td>
</tr>
<tr>
<td>desktop dev</td>
<td>Electron, memeTK written in a memeLang</td>
<td>GTK4</td>
<td>GTK2, GTK3, QT</td>
</tr>
<tr>
<td>server dev</td>
<td>Javascript</td>
<td>C++, C, Python3</td>
<td>Rust, Go</td>
</tr>
 <tr>
<td>scripting</td>
<td>Javascript, PowerShell</td>
<td>Lisp</td>
<td>Python3, POSIX shell</td>
</tr>
 <tr>
<td>text editor</td>
<td>VS Code</td>
<td>Nano, JetBrains IDE, Kdevelop</td>
<td>Vim, Neovim, Emacs, Kate, Geany</td>
</tr>
 <tr>
<td>software license</td>
<td>Closed Source</td>
<td>MIT/X, Apache2, BSD</td>
<td>GPL3, public domain</td>
</tr>
 <tr>
<td>unix utilites</td>
<td>Anything written in Rust</td>
<td>coreutils alternatives made for embeded systems</td>
<td>GNU core/build/bin-utils</td>
</tr>
<tr>
<td>libc</td>
<td>Plan 9 and BSD ports, embeded libc's</td>
<td>musl libc</td>
<td>glibc</td>
</tr>
 <tr>
<td>web browser</td>
<td>Chrome, Edge, anything non-free, Palememe</td>
<td>Chromium, Brave, Tor</td>
<td>UG Chromium, Firefox, Librewolf</td>
</tr>
 <tr>
<td>version control system</td>
<td>everything else</td>
<td></td>
<td>git</td>
<tr>
<td>git hosting/sharing software</td>
<td>Github</td>
<td>Gitlab, Codeberg, GNU savana</td>
<td>selfhosted Gitea, Stagit, Cgit</td>
</tr>
 <tr>
<td>desktop enviroments</td>
<td>wlroot DEs(not a single usable one out there)</td>
<td>Gnome, KDE</td>
<td>Xfce4</td>
<tr>
<td>window managers</td>
<td>anythingt that is NOT maintained, tinywl</td>
<td>dwm, dwl</td>
<td>i3, sway, literally anything that is maintained</td>
</tr>
 <tr>
<td>email client</td>
<td>Proprietary Web mail</td>
<td>Emacs, terminal larp memes</td>
<td>Thunderbird</td>
</tr>
 <tr>
<td>email provider</td>
<td>every other provider</td>
<td>cock mail</td>
<td>selfhosted, dont use email its 2024</td>
</tr>
 <tr>
<td>instant messaging</td>
<td>discord, instagram</td>
<td>telegram, signal (both are honeypots), xmpp</td>
<td>irc, matrix</td>
</tr>
 <tr>
<td>music</td>
<td>subscription services</td>
<td>youtube and spotify rips (pls donate if you are ripping a small artist's music)</td>
<td>buying discs, torrents/xdcc</td>
</tr>
 <tr>
<td>word processing and typesetting</td>
<td>big fat word processors</td>
<td>groff</td>
<td>latex</td>
</tr>
<tr>
<td>c compiler</td>
<td>tcc/memecc</td>
<td>your vendor's compiler</td>
<td>gcc, clang</td>
</tr>
 <tr>
<td>desktop linux distros</td>
<td>Arch reskins, Ubuntu, Ubuntu reskins</td>
<td>Void, Artix, Debian, Gentoo</td>
<td>OpenSUSE, Arch, Debian SID, nixOS, Guix SD</td>
</tr>
 <tr>
<td>server distros</td>
<td>Ubuntu, Arch, Gentoo</td>
<td></td>
<td>Debian, OpenBSD, OpenSUSE</td>
</tr>
 <tr>
<td>software management in servers</td>
<td>snap, flatpak, appimage</td>
<td>docker isolation</td>
<td>distro's pm, nix/guix, statically linked binaries that just work</td>
</tr>
 <tr>
<td>software management in desktops</td>
<td>snap, docker isolation</td>
<td>flactpak, appimages, statically linked binaries that just work</td>
<td>distro's pm, nix/guix</td>
</tr>

 <tr>
<td>code of conducts</td>
<td>political cancer</td>
<td>coc with relevant stuff</td>
<td>no coc</td>
</td>
</tr>
 
</table>

<h1>Explantations</h1>
Only for things that really do need an explanation.
<h2 id="desktopos">Desktop Operating systems</h2>
<p>
I dont have to explain why Windows, MacOS and every non-free OS is bad with respect to the freedom ideology, but what you should understand is every operating system other than GNU/Linux should be discarded
as well if you are a developer who wants to get his work done and enjoy his freedom, until and unless you REALLY know what you want, you wont be able to make best use of other free operating
systems out there. GNU/Linux is the most documented operating system. Developers who want to write their programs and get work done, GNU/Linux is the only real choice. <br>
Being a hipster will only hurt your productivity as developer, so dont bother moving to FreeBSD just because Linux now uses Rust and is "bloated" for you or GNU is bloated, unless you exactly 
know what you want from FreeBSD, or any other operating system, as a developer, There is NO POINT in using some random meme distro because cat-v or /g/ meme told you to. 
</p>


<h2 id="systemsdev">THERE IS NO HARMFUL SYSTEMS PROGRAMMING LANGUAGE</h2>
<p>There is no harmful systems programming language out there because the language will only provide you the basic tools to talk to the hardware, 
everything is dependent on how good as a programmer you are, no programming language will help you or hurt you. However, I put C as safe because it is simple and 
you can basically do anything in it. Rust is debatable because not only is it a complicated language, but the safety promise is LIE at the systems level! 
Rust can only help you so much, the cost is very expensive because your codebase will become ugly as shit with all the lifetimes.
C++ is debatable because it is complicated and it is super ugly. Zig is debatable because it is not mainstream yet and its still not ready for production, same with hare. </p>

<h2 id="memetk">memeTK written in a memeLang</h2>
<p>
just give up bro just fucking use gtk or qt and be done with your task, so far there is a grand total of ZERO good UI TK written in Rust/Zig or whatever, if you want
a production level desktop software written in your meme lang, JUST USE THE WRAPPERS TO A TOOL KIT THAT ACTUALLY WORKS.
</p>


<h2 id="memetk">MIT/X, BSD and the likes</h2>
<p>
CUCK LICENSE, unless you truly understand how these licenses work, and you exactly know how you want your software distrubuted DO NOT use these CUCK LICENSES.
GPL and his brothers will protect your freedom. (NOT A LEGAL ADVICE)<br>
There is a group of people who unironically believe MIT and BSD is more "free" than GPL, what they dont realise is MIT and BSD both dont respect the freedom of a
third party contributor. Look at every MIT or BSD licensed project which have been relicensed to being pretty much non free.
</p>

<h2 id="rustunix">UNIX and Rust rewrites</h2>
<p>
1. no one asked for rust rewrites, existing ones just werk<br>
2. we dont need flashy retarded colors to get work done<br>
3. you should get shot in the head for claiming the rewrite is fast when you only implement half of what the original program did<br>
</p>

<h2 id="plan9bsd">plan9 and BSD ports</h2>
<p>
No, you do not need to use software made for plan9 and BSD on your Linux system. Stop falling for cat-v memes. 
</p>


<h2 id="nongnu">non GNU Linux</h2>
<p>
The GNU bloat is a meme made by /g/ shitposters and capitalits who hate GNU to make sure you wont be a productive developer and get to enjoy your freedom.
While alternative libcs, coreutils work perfectly fine, its really not worth the change if you have to go out of your way to get things to work as expected,
your dick wont get bigger for chosing to use busybox and musl on your system instead of GNU.
Maybe consider writing some actual piece of code instead of going out of your way to install libcs and coreutils meant for emebeded systems even when GNU is working
just fine your system just because /g/ and cat-v schizos told you to. Have you ever seen Luke Smith develop any program other than his meme dwm forks and rice
scripts? As a developer who actually has to get work done, you really should not waste your time tinkering with random shit on your computer, unless tinkering also 
happens to be a hobby that you enjoy. If hating GNU is your hobby, then go ahead.
</p>

<h2 id="dwm">why suckless is a waste of your time</h2>
<p>
Every single suckless program is amature garbage, poorly written even. There is something wrong with you if you are using dwm and st because you seriously think everything else is le bloat.
Unless you are going to actively be patching and tinkering with dwm, just use i3. JUST USE i3. This is coming from someone who maintains a dwm fork, most of you arent
skilled enought to even write a new feature for dwm, dwm should be used as a base for developing better window managers or to study how window managers work. Your
dick does not get bigger for using dwm, want to be productive? install i3 and edit .config/i3/config and youre done. dwm is for tinkerers and people who dont have
work to do, which is fine, but if you just want to be a efficient developer, use the default i3 and start getting your shit done. STOP FALLING FOR SAD MEMES UNLESS
YOUR HOBBY HAPPENS TO BE FALLING FOR /G/ MEMES
</p>

<h2 id="tcc">tcc is bad?</h2>
<p>
Yes, just use gcc and clang, there is a total of zero reason for you to not use gcc or clang<br>
inb4 >cat-v said so<br>
the WHOLE reason why cat-v doesnt want you to use gcc is because gcc optimizations used to break programs, this was a problem TWO DECADES AGO and not today.
AND GUESS WHAT, YOU CAN ACTUALLY NOT OPTIMIZE? ITS NOT LIKE TCC CAN OPTIMIZE BETTER? IT CANT OPTIMIZE AT ALL, tcc cannot compete with gcc or clang, its a meme compiler.
stay away. cat-v does not want you to produce fast and tiny binaries.
</p>

<h2 id="tcc">STOP INSTALLING DISTRO RESKINS, STOP USING UBUNTU FOR SERVERS</h2>
<p>
waste of your time, just use something that is actually going to be actively maintained and does not provide anything more than a different default DE and a new
logo.<br>
Ubuntu for server is cancer, I hate snaps etc thank you for reading I dont want even a single megabyte of my ram being used to run some retarded service daemon
which I know I will not use. Snap does not respect your freedom, by the way.
</p>

<h2>POLITICS IN FREESOFTWARE</h2>
<p>
  If you cant live without bringing up politics in your freesoftware project, your software is probably garbage. Code of Conducts to ensure the project community
  does not turn into a cesspool of shitposters is fine, but denying someone right to be part of the project just because of their geolocation and
  their political ideologies is counter productive and non liberating. Do not forget, that the Linux kernel probably has contributions from Jews who dislike Muslims, from Muslims who dislike Jews, Ukranians who hate Russians and Russians all in one place, their contributions come together regardless of what they personally believe.
  You can fight your war on the field or on twitter, but freesoftware is not the place for that.
</p>

further explanation <a href="https://desuarchive.org/g/thread/99629630">>>>/g/99629630</a>
